body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fefbd8;
}

ul
{
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(0,0,0,.2);
}

h1
{
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-size: 24px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

ul li
{
  position: relative;
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

ul li a
{
  color: #262626;
  text-decoration: none;
  padding: 10px;
  display: block;
  padding-left: 70px;
}

ul li .date
{
  position: absolute;
  left: 20px;
  width: 50px;
  margin-top: 15px;
  text-align: center;
}

ul li .date:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 22px solid #e2574c;
  border-bottom: 60px solid #e4e7e7;
  z-index: 1;
  border-radius: 5px;
}

ul li .date h3
{
  position: relative;
  z-index: 2;
  margin-top: -6px;
  font-size: 16px;
  color: #fff;
  line-height: 36px;
}

ul li .date h3 span
{
  font-size: 36px;
  color: #262626;
}

ul li .date p
{
 font-size: 18px;
 
}

a:hover {
  background-color:#fefbd8;
  border-radius: 5px;
}